streamlit==1.46.0
pandas==2.2.2
numpy==1.26.4  # Versão compatível com langchain 0.1.20
scikit-learn==1.5.0
joblib==1.4.2
langchain==0.1.20
langchain-community==0.0.38
httpx==0.27.0
tqdm==4.66.2
aiohttp==3.9.5
